.blog-card-container{
    height: 380px;
    width: 360px;
    padding: 16px;
    cursor: pointer;
}

.blog-image {
    width: 100%;
    height: 211px;
    background-image: var(--image-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 17px;
    border-radius: 7px;
    overflow: hidden;
}

.author-tag-container{
    display: flex;
}

.tag{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--primary-color);
}

.author{
    margin-left: auto;
    margin-right: 0;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--blog-author-color);
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin: 8px 0;
}

.brief {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

@media (max-width: 1030px) {
    .blog-card-container{
        height: 340px;
        width: 300px;
    }
    .blog-image {
        height: 150px;
    }
}