<div class="popup-backdrop" (click)="close()">
      <div class="popup-content" (click)="$event.stopPropagation()">
        <ng-container *ngIf="option==1">
            <div class="header">
                <div class="warning">Think carefully about your question and pick a card</div>
                <!-- <button class="close-btn" (click)="close()">✖</button> -->
                <div class="close-btn" (click)="close()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="one-cards">
                <div class="card" *ngFor="let c of oneCard">
                    <app-tarot-card></app-tarot-card>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="option==2">
            <div class="header">
                <div class="warning">Think carefully about your question and tap on Cards</div>
                <!-- <button class="close-btn" (click)="close()">✖</button> -->
                <div class="close-btn" (click)="close()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="three-cards">
                <div class="card2" *ngFor="let c of threeCard">
                    <app-tarot-card></app-tarot-card>
                </div>
            </div>
        </ng-container>
        <div class="btn-container">
            <div class="shuffle btn">Shuffle</div>
            <div class="prediction btn">Get your Prediction</div>
        </div>
      </div>
    </div>