.popup-backdrop {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: var(--secondary-color);
}
.popup-content {
    background: white;
    position: relative;
    max-width: max-content;
}

.header{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.one-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    padding: 32px;
}

.three-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 0 70px;
    padding: 32px;
}

.card {
    position: relative;
    margin-left: -105px; 
    z-index: 1;
    transition: transform 0.3s, z-index 0.3s;
}

.card:first-child {
    margin-left: 0; 
}

.card:first-child:hover {
    margin-top: -20px;
    margin-left: 0;
}
.card:hover {
    /* transform: scale(1.1);
    z-index: 10;  */
    margin-top: -20px;
    margin-left: -90px;
}

.btn-container{
    padding: 12px;
    display: flex;
    gap: 16px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.btn{
    width: 100%;
    border-radius: 7px;
    padding: 10px;
}

.prediction{
    background-color: var(--primary-color);
}

/* .close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
} */