.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  z-index: 10000;
  position: absolute;
  top: 90px;
  left: 0;
  background: var(--primary-bg-color);
  width: 100%;
  height: calc(100% - 90px);
}

.bg-color {
  background-color: var(--primary-color);
}