.section-title{
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
    max-width: 1200px;
}

.menu-wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 56px;
}

.menu-container{
    display: flex;
    gap: 48px;
    margin: auto;
}


.form-section{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    color: var(--form-label);
}

input{
    padding: 12px;
    border: 1px solid var(--form-border);
    outline: none;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    border-radius: 7px;
    color: var(--input-fore-color);
}
input::placeholder {
  color: var(--placeholder)
}

.submit{
    cursor: pointer;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 7px;
    border: 1px solid var(--horoscope-banner);
    background-color: var(--primary-color);
    width: 100%;
}

.numerology-card-conatiner{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 368px;
}

.special-click-link{
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
}

.link-svg{
    display: flex;
    align-content: center;
}

.link{
    cursor: pointer;
    font-weight: 700;
    padding-left: 6px;
}

.master-number-wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 80px;
}

.master-number-container{
    display: flex;
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    flex-wrap: wrap;
}

.master-number-card{
    flex: 1 1 280px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 20px 60px 0 rgba(157, 105, 0, 0.05);
}

.master-number-info-wrapper{
    display: flex;
    gap: 24px;
    font-weight: 400;
}

.master-number-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.master-number-name{
    font-size: 24px;
    font-family: var(--primary-font);
}

.master-number-breif{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    font-size: 14px;
}

.master-number-button{
    background: var(--primary-color);
    font-weight: 500;
    font-size: 12px;
    padding: 6px 12px;
    height: 40px;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-menu-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0;
}

.page-menu-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.page-menu-container > div {
    flex: 1 1 300px;
}

.last-section{
    padding-bottom: 80px;
}


.day-selector-wrapper{
  width: 100%;
  padding: 48px 0;
}

.day-selector-container{
  max-width: 1200px;
  display: flex;
  gap: 16px;
  justify-self: center;
  font-family: var(--secondary-font);
}

.day-selector{
  width: 100%;
  border-radius: 7px;
  border-top: 5px solid var(--primary-color);
  background: #FFF;
  box-shadow: 0px 20px 60px 0px hsla(40, 100%, 31%, 0.05);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--secondary-color);
}

.selector-name{
  font-size: 24px;
  font-weight: 400;
  font-family: var(--primary-font);
}

.selector-brief{
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more{
  font-size: 12px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 999px;
  max-width: fit-content;
  cursor: pointer;
  border: 0.5px solid var(--secondary-color);
}

.type-selector{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 24px;
    border-radius: 7px;
    border-top: 5px solid #FFB114;
    background: #FFF;
    box-shadow: 0 20px 60px 0 rgba(157, 105, 0, 0.05);
}

.type-selector-header{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    color: var(--fore-dark-grey);
    font-weight: 600;
    align-items: center;
}

.type-selector-svg{
    display: flex;
    width: 80px;
    height: 80px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background: var(--horoscope-banner);
    border-radius: 50%;
}

.type-selector-brief{
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

@media (max-width:1200px) {
    .numerlogy-page{
        padding: 0 24px;
    }
}

@media (max-width:900px) {
    .menu-container{
        flex-direction: column;
        flex: 1;
        width: min-content;
    }
    .numerology-card-conatiner{
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width: 575px) {
    .menu-container{
        width: 100%;
        max-width: 450px;
    }
    .master-number-name{
        font-size: 20px;
    }
    .master-number-breif{
        font-size: 12px;
    }
    .master-number-button{
        font-size: 10px;
    }
}
@media (max-width: 375px) {
    .master-number-name{
        font-size: 18px;
    }
    .master-number-breif{
        font-size: 10px;
    }
    .master-number-button{
        font-size: 9px;
    }
}