<div class="card-container" [ngClass]="{'larger': type == 2}">
    <div class="graphic-element">
        <img class="bg-effect" src="./images/numerology/Numerology_Graphic_Elements.svg" alt="graphic element">
    </div>
    <div class="container"> 
        @if (type == 1) {
            <ng-container>
                <div class="number">{{num}}</div>
                <div class="sub">Number {{num}}</div>
            </ng-container>
        } @else {
            <ng-container>
                <div class="selected-num">{{num}}</div>
            </ng-container>
        }
    </div>
</div>