.card-container{
    background: var(--secondary-color);
    color: #fff;
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 12px;
    position: relative;
    width: 112px;
    height: 141px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    cursor: default;
}

.larger{
    width: 150px;
    height: 170px;
}

.graphic-element{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.container{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    justify-self: center;
    align-self: center;
}

.number{
    text-align: center;
    font-size: 64px;
}

.selected-num{
    font-size: 74px;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-weight: 800;
}