<div class="navbar-container">
    <ul class="navbar-list">
        <li *ngFor="let item of navbarItems; trackBy: trackByFn; let i = index" class="list-item"
                [ngClass]="{ 'first-item': i === 0, 'last-item': i === navbarItems.length - 1 }" >
            <ng-container *ngIf="!item.dropDownPresent">
                <div class="item-name" (click)="goToPage(item.navigationLink)" (click)="closeFn()">
                    {{item.name}}
                    <div *ngIf="item.tagPresent" class="tag" [style.background-color]="item.tagSettings?.eclipseColor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                            <circle cx="5.85706" cy="5.5" r="4.5" [attr.fill]="item.tagSettings?.circleColor" [attr.stroke]="item.tagSettings?.eclipseColor"/>
                        </svg>
                        {{item.tagSettings?.name}}
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="item.dropDownOption">
                <ng-container *ngIf="item.dropDownPresent && item.dropDownOption?.length">
                    <div class="dropdown-container" [class.open]="openedDropdown === i">
                    <div class="item-name dropdown-toggle" (click)="toggleDropdown(i)">
                        {{ item.name }}
                        <span class="arrow">&#9662;</span> <!-- Down arrow -->
                    </div>
                    <div class="dropdown-list" *ngIf="openedDropdown === i">
                        <div 
                        class="dropdown-item" 
                        *ngFor="let option of item.dropDownOption" 
                        (click)="selectDropdownOption(option)" (click)="closeFn()">
                        {{ option.name }}
                        </div>
                    </div>
                    </div>
                </ng-container>
            </ng-container>
        </li>
    </ul>

</div>