<div class="for-about-section">
    <div class="container-wrapper-for-about-section">
        <app-section-tag [sectionTitle]="aboutCard.title || ''" [subHeading]="aboutCard.subTittle || ''"></app-section-tag>
        <div class="information-container-for-about-section" [ngClass]="{'blur-effect-for-about-section': !readMore}">
            <div class="column-for-about-section" [innerHTML]="column1Data"></div>
            @if (readMore) {
                <div class="column-for-about-section" [innerHTML]="column2Data"></div>
            }
        </div>
        @if (!readMore){
            <div class="read-more-btn-for-about-section" (click)="toggleReadMore()">Read More</div>
        }
    </div>
</div>