@if (showBreadcrumbs) {
  <div class="breadcrumb-container" [ngClass]="{'set-color': showColor}">
    <ul class="breadcrumb-list">
      @for (crumb of breadcrumbs; track $index; let last = $last) {
        <li class="breadcrumb-item">
          @if (crumb.url && !crumb.url) {
            <span  class="label non-clickable">{{ crumb.label }}</span>
          } @if (!last) {
            <a [routerLink]="crumb.url" class="label" [ngClass]="{'set-label-color': showColor}">{{ crumb.label }}</a>
          } @else {
            <span class="label last" [ngClass]="{'set-last-color': showColor}" >{{ crumb.label }}</span>
          } @if (!last) {
            <div  class="arrow-svg"> 
                <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.25 11L8.75 7.5L5.25 4" stroke="#696969" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
          }
        </li>
      }
    </ul>
  </div>
}