/* .breadcrumb {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.breadcrumb-icon {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 0.25rem;
} */

.breadcrumb-container{
    padding: 24px 0;
    font-family: var(--secondary-font);
}

/* .set-color{
  background-color: var(--primary-color);
} */

.breadcrumb-list{
    display: flex;
    list-style: none;
    padding-left: 130px;
    margin: 0;
}

.breadcrumb-item{
    display: flex;
    align-items: center;
}

.non-clickable{
  cursor: pointer;
}

.label {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--breadcrumb-color);
}

.last {
    font-weight: 600;
    color: var(--primary-color);
}

.arrow-svg{
    margin: 0 7px;
    display: flex;
    align-items: center;
}

.set-label-color{
  color: var(--tertiary-color);
}

.set-last-color{
  color: #fff;
}

@media (max-width: 575px) {
  ul{
    padding-left: 20px;
  }
  
  .label{
    font-size: 10px;
  }
}