.zodiac-card{
  width: var(--box-size);
  height: var(--box-size);
  align-items: center;
  cursor: pointer;
  font-family: var(--secondary-font);
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

/* .zodiac-card.mar-bot{
  margin-bottom: 32px;
} */

.info-container{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
.svg-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.svg-container.circle{
  width: var(--box-size);
  height: var(--box-size);
  border-radius: 50%;
  background: #fff;
}

.title{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.details{
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--zodiac-card-details);
}



@media (max-width:575px) {
  .svg-container{
    height: 60px;
  }
  .zodiac-card{
    gap: 12px;
  }
}