.zodiac-card{
  width: var(--box-size);
  height: var(--box-size);
  align-items: center;
  cursor: pointer;
  font-family: var(--secondary-font);
}

/* .zodiac-card.mar-bot{
  margin-bottom: 32px;
} */

.svg-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.svg-container.circle{
  width: var(--box-size);
  height: var(--box-size);
  border-radius: 50%;
  background: #fff;
}

.title{
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.details{
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: var(--zodiac-card-details);
  margin-top: 4px;
}



@media (max-width:430px) {
  /* .zodiac-card{
    margin: 0;
    width: 150px;
    height: 150px;
  }
  .title{
    margin-top: 20px;
  } */
}