.rudraksh-calculator-page{
    padding-bottom: 80px;
}

.form-section{
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.form-banner{
    padding: 32px;
    max-width: 1200px;
    width: 100%;
    background: url('/images/rudraksh/rudraksh-form-bg.jpg') lightgray 50% / cover no-repeat;
    border-radius: 14px;
    font-family: var(--secondary-font);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.form-container{
    display: flex;
    gap: 24px;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    flex: 1;
    min-width: 0;
}

.row{
    display: flex;
    gap: 12px;
    width: 100%;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    font-family: var(--secondary-font);
    font-size: inherit;
    font-weight: 400;
    color: var(--placeholder);
    background: #fff;
    border-radius: 7px;
    border: 1px solid var(--form-border);
    padding: 12px;
    cursor: pointer;
}

.dropdown-svg{
    display: flex;
    align-items: center;
}

.input-field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    min-width: 0;
    flex: 1;
    font-size: 12px;
}


.label{
    font-size: inherit;
    font-weight: 400;
    color: var(--form-label);
    text-wrap: nowrap;
}

.red{
    font-size: 10px;
    color: var(--warning);
    margin-top: -9px;
    margin-bottom: -9px;
}

.input-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 7px;
    height: 40px;
    border: 1px solid var(--form-border);
    width: 100%;
    /* min-width: 177px; */
    flex-grow: 1;
}

.input-area svg {
    margin-right: 12px;
}

.input{
    align-self: center;
    width: 100%;
    height: 34px;
    padding: 12px 0 12px 12px;
    color: var(--input-fore-color);
    outline: none;
    border: none;
    font-size: inherit;
}

.input::placeholder{
    color: var(--placeholder);
}

.submit{
    cursor: pointer;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 7px;
    margin-top: 24px;
    height: 41px;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  position: relative;
  padding-right: -240px;
  z-index: 2;
  display: none;
}

svg{
    cursor: pointer;
}

.rudraksh-info-container{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.rudraksh-info-card{
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 26px;
    padding: 24px 0;
    align-items: stretch;
}

.reverse-card{
    flex-direction: row-reverse;
}


.rudraksh-img{
    width: 233px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 7px;
}

.rudraksh-info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: var(--secondary-color);
}

.rudraksh-info{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.header{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--primary-font);
}

.brief{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.link-container{
    display: flex;
    gap: 8px;
    font-size: 12px;
}

.link{
    padding: 12px;
    cursor: pointer;
    font-family: var(--secondary-font);
    font-size: inherit;
    font-weight: 600;
    flex: 1;
    max-width: fit-content;
}

.special{
    max-width: 70px;
}

@media (max-width: 1200px) {
    .rudraksh-calculator-page{
        padding: 0 24px 80px;
    }
    .input-field {
        font-size: 10px;
    }
}
@media (max-width:775px) {
    .form-container{
        flex-wrap: wrap;
    }
    .column{
        min-width: 205px;
        width: 100%;
    }
    .submit{
        font-size: 12px;
    }
    .header{
        font-size: 28px;
    }
    .brief{
        font-size: 12px;
    }
    .link-container{
        font-size: 10px;
    }
    .rudraksh-img{
        width: 170px;
    }
}
@media (max-width:575px) {
    .form-banner{
        padding: 24px;
    }
    .submit{
        font-size: 10px;
    }
    .rudraksh-info-wrapper{
        gap: 8px;
    }
    .header{
        font-size: 22px;
    }
    .brief{
        font-size: 10px;
    }
    .link-container{
        font-size: 8px;
    }
    .rudraksh-img{
        width: 120px;
    }
    .link{
        padding: 8px;
    }
}
@media (max-width: 375px) {
    .form-container{
        gap: 12px;
    }
    .column{
        min-width: 170px;
        gap: 12px;
    }
    .row {
        flex-direction: column;
    }
    .special {
        max-width: unset;
    }
    .header{
        font-size: 20px;
    }
    .brief{
        font-size: 9px;
    }
    .link-container{
        font-size: 5    px;
    }
    .rudraksh-img{
        width: 100px;
    }
}