.trending-wrapper{
  width: 100%;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.tag-container{
  display: flex;
  gap: 12px;
  justify-content: start;
  font-family: var(--secondary-font);
  flex-wrap: wrap;
}

.tag-svg{
  display: flex;
  align-items: center;
}

.header-tag{
  display: flex;
  padding: 8px;
  gap: 13px;
  align-items: center;
  text-wrap: nowrap;
}

.normal-tag{
  padding: 8px 16px;
  background: rgba(36, 0, 40, 0.10);
  color: var(--secondary-color);
  border-radius: 999px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

@media (max-width:575px) {
  .trending-wrapper{
    font-size: 10px;
    padding: 20px 0;
  }
  .tag-svg{
    width: 14px;
  }
  .normal-tag{
    padding: 6px 12px;
  }
}