.mantras-page{
    padding: 56px 0;
}

.page-container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.section-tag{
    margin-bottom: 32px;
}

.table{
    margin: 32px 0;
}

.article{
    padding: 0 10px;
}

.blog{
    margin-top: 56px;
}