
.banner-container {
    display: flex;
    overflow: hidden;
    margin: 0 10px 0 40px;
    flex-grow: 1;
}

.banner {
    background: var(--primary-color);
    border-radius: 4px;
    height: 364px;
    flex-grow: 1;
    display: flex;
    position: relative;
    overflow: hidden;
}

.banner-text{
    color: var(--heading);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 2;
    max-width: 500px;
    height: 174px;
    overflow: hidden;
    margin-left: -8px;
    margin-top: 40px;
}

.bold-txt {
    font-weight: 700;
}

.glow {
       /* position: absolute;
      top: 50%;
      left: 50%; */
      margin-top: 240px;
      margin-left: auto;
      margin-right: -830px;
      width: 250px;
      height: 250px;
      background-color: #ffffff9b;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 600px 50px #ffffffe7;
      filter: blur(15px);
      z-index: 3;
}

.banner-image {
    position: relative;
    margin-top: 40px;
    margin-left: auto;
    right: -60px;
    height: 332px;
    z-index: 4;
    border-radius: 0 0 4px 0;
}


@media (max-width:1350px) {
    .banner-text{
        font-size: 32px;
        width: 250px;
        height: auto;
    }
}
@media (max-width:1050px) {
    .glow{
        display: none;
    }
    .banner-image{
        display: none;
    }
    .banner-text{
        margin: 50px 20px 0 20px;
        width: 100%;
        font-size: 40px;
    }
}

@media (max-width:860px) {
    .banner-text{
        font-size: 32px;
    }
}

@media (max-width:770px) {
    .banner{
        width: 310px;
    }
    .sun-svg{
        display: none;
    }
    .banner-text{
        font-size: 40px;
        height: 300px;
    }
}

@media (max-width:440px) {
    .banner{
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        display: none;
    }
}





