.card-wrapper{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: var(--light-bg-color);
    padding: 16px;
    border-radius: 8px;
    font-family: var(--secondary-font);
}
.card-container {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}

.information{
    width: 178px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.card-text{
    font-size: 12px;
    font-weight: 400;
    color: var(--fore-dark-grey);
    margin: 0;
}




/* 
.text-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 50px 12px 8px 12px;
    color: white;
    font-size: 14px;
    line-height: 1.2em;
    background: linear-gradient(to top, var(--primary-color) 10%, #00000000);
    border-radius: 0 0 7px 7px;
}

.text-overlay h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #000;
    line-height: normal;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--secondary-color);
} */

@media (max-width: 1025px) {
    .card-container{
        width: 200px;
        height: 270px;
    }
}
@media (max-width: 850px) {
    .card-container{
        width: 170px;
        height: 260px;
    }
}

@media (max-width: 750px) {
    .card-container{
        margin-right: 20px;
    }
}