.card{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0 20px 60px 0 rgba(157, 105, 0, 0.10);
    color: var(--secondary-color);
    width: 100%;
    font-weight: 400;
}

.header{
    display: flex;
    gap: 8px;
    font-size: 24px;
    font-family: var(--primary-font);
    align-items: center;
}

.svg-container{
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 7px;
    background: var(--svg-bg-col);
}

.brief{
    font-size: 14px;
    font-family: var(--secondary-font);
    line-height: 20px;
}
@media (max-width: 575px) {
    .card{
        padding: 20px;
    }
    .header{
        font-size: 18px;
    }
    .brief{
        font-size: 10px;
    }
}