.header-container{
    display: flex;
    padding: 0 40px;
    height: 90px;
    justify-content: space-between;
    background: inherit;
    font-family: var(--secondary-font);
}

.horizontal-line{
    border-bottom: 1px solid #BF7F00;
}

a, 
a:visited, 
a:hover, 
a:active {
  text-decoration: none;
  color: inherit;
}

.logo{
    display: flex;
    align-items: center;
}

.header-options{
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.header-options div{
    margin: auto;
}

.store-container{
    display: flex;
    gap: 6px;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: inherit;
    font-weight: 400;
    cursor: pointer;
}

.store-matter{
    font-weight: 700;
    color: var(--secondary-color);
}

.store-new-tag{
    color: #fff;
    padding: 4px 8px;
    border-radius: 9999px;
    background: var(--store-tag-bg);
}

.logo-svgs{
    display: flex;
    cursor: pointer;
    gap:8px;
    align-items: center;
}

.login-btn{
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: nowrap;
    background: #fff;
    border-radius: 7px;
    padding: 12px;
    color: var(--secondary-color);
}


.language {
    padding: 12px;
    display: flex;
    align-items: center;
    font-size: inherit;
}
.language svg {
    margin-right: 4px;
}

#language-dropdown{
    border: none;
    outline: none;
    background: inherit;
    color: var(--secondary-color);
    font-size: inherit;
}

@media (max-width: 375px) {
    .header-container {
        height: 60px;
    }
}

@media (max-width: 575px) {
    .header-container {
        padding: 0 24px;
    }

    .header-options {
        gap: unset;
    }
}

.set-color{
    background-color: var(--primary-color);
}