.header-container{
    display: flex;
    background-color: var(--primary-color);
    padding: 0 32px;
    height: 90px;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.header-options{
    /* margin: auto; */
    display: flex;
    gap: 10px;
}

.header-options div{
    margin: auto;
}

.logo-svgs{
    display: flex;
    cursor: pointer;
    gap:8px;
    align-items: center;
}

.login-btn{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: nowrap;
    background: #fff;
    border-radius: 7px;
    padding: 12px;
    color: var(--secondary-color);
}


.language {
    padding: 12px;
    display: flex;
}
.language svg {
    margin-right: 4px;
}

#language-dropdown{
    border: none;
    outline: none;
    background: var(--primary-color);
    color: var(--secondary-color);
}

@media (max-width: 575px) {
    .logo{
        padding-left: 20px;
        font-size: 20px;
    }
}