<div class="tarot-page">
    <div class="section-1">
        <div class="card-select-wrapper">
            <app-section-tag [sectionTitle]="'Tarot Reading'" [subHeadCol]="true" [subHeading]="sectionBrief"></app-section-tag>
            <div class="card-banner">
                <div class="banner-header">{{`Select ${selectedCardOption} ${selectedCardOption == 3 ? 'cards' : 'card'}`}}</div>
                <div class="card-container">
                    @for (c of [].constructor(20); track $index) {
                        <div class="card" (click)="selectCard($index)" [ngClass]="{'selected-card': isSelected($index), 'enabeled-hover': !enableButton}">
                            <app-tarot-card></app-tarot-card>
                        </div>
                    }
                </div>
                <div class="card-submit" (click)="submitCards()" [ngClass]="{'enabeled': enableButton}">Get My Reading</div>
            </div>
        </div>
        <div class="feature-container">
            <div class="row">
                @for (c of features.slice(0,2); track $index) {
                    <div class="feature-card">
                        <div class="feature-svg">
                            <img [src]="'./images/kundli/'+c.svgName" [alt]="c.heading">
                        </div>
                        <div class="feature-info">
                            <div class="feature-heading">{{c.heading}}</div>
                            <div class="feature-subHeading">{{c.subHeading}}</div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                @for (c of features.slice(2); track $index) {
                    <div class="feature-card">
                        <div class="feature-svg">
                            <img [src]="'./images/kundli/'+c.svgName" [alt]="c.heading">
                        </div>
                        <div class="feature-info">
                            <div class="feature-heading">{{c.heading}}</div>
                            <div class="feature-subHeading">{{c.subHeading}}</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <app-personalize-section [personalisedInfo]="personalisedContainer"></app-personalize-section>
    <app-rudraksh-section></app-rudraksh-section>
    <app-astrology-section></app-astrology-section>
    <app-about-section></app-about-section>
    <app-faq-section></app-faq-section>
</div>