<div class="home-container">
    <app-new-banner></app-new-banner>
    <div class="banner-second">
        <app-banner-second></app-banner-second>
    </div>
    <div class="home-information">
        <div>
            <div class="menu-container">
                <div class="section-tag">
                    <app-section-tag [sectionTitle]="'How Can We Guide You?'" [subHeading]="'Choose your path to clarity. Get Detailed reports or join live community sessions.'"></app-section-tag>
                </div>
                <div class="card-section">
                    <div class="card-wrapper">
                        <div>
                            <app-kundli-menu-card></app-kundli-menu-card>
                        </div>
                        <div>
                            <app-horoscope-menu-card [svgColor]="svgColor"></app-horoscope-menu-card>
                        </div>
                        @if (modeSelector() == 'large') {
                            <app-love-menu-card></app-love-menu-card>
                        }
                    </div>
                    @if (modeSelector() == 'large') {
                        <div class="card-wrapper spread">
                            <div>
                                <app-panchang-menu-card></app-panchang-menu-card>
                            </div>
                            <div>
                                <app-tarot-menu-card></app-tarot-menu-card>
                            </div>
                        </div>
                    } @else {
                        <div class="card-wrapper-2">
                            <!-- <div style="width: 100%; max-width: 380px;"> -->
                            <div class="spread-2">
                                <app-love-menu-card></app-love-menu-card>
                            </div>
                            <div class="spread-2">
                                <app-panchang-menu-card></app-panchang-menu-card>
                                <app-tarot-menu-card></app-tarot-menu-card>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div>
            <app-rudraksh-section></app-rudraksh-section>
        </div>
        <app-blog-section [svgColor]="svgColor" [title]="blogSectionHeading"></app-blog-section>
        <app-astrology-section [svgColor]="svgColor"></app-astrology-section>
        <app-review-section></app-review-section>
        <app-about-section></app-about-section>
        <app-faq-section></app-faq-section>
        <app-join-banner></app-join-banner>
    </div>
</div>