.whole-banner{
    display: flex;
    width: 100vw;
    overflow: hidden;
}

.banner{
    width: 100%;
}

.blog-section{
    padding: 56px 0;
}

.section-tag{
    margin-bottom: 32px;
}

@media (max-width:400px) {
    .banner{
        width: 0;
    }
}