.whole-banner{
    display: flex;
    width: 100vw;
    overflow: hidden;
}


.banner{
    width: 100%;
}

/* .blog-section{
    padding: 56px 0;
} */

.section-tag{
    margin-bottom: 32px;
}

.banner-second{
    margin-top: -55px;
}


.menu-container{
    padding: 92px 0 0 0;
}
.section-tag{
    margin-bottom: 40px;
}
.card-section{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.card-wrapper{
    max-width: 1200px;
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.card-wrapper > div {
  flex: 1;
  min-width: 0;
}

.spread div{
    flex: 1;
}

.card-wrapper-2{
    display: flex;
    gap: 24px;
    height: 100%;
    width: 100%;
}
.spread-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}



@media (max-width: 1200px) {
    .home-information{
        padding: 0 24px;
    }
}

@media (max-width: 1000px) {
    .card-wrapper{
        /* flex-wrap: wrap; */
        flex-grow: 1;
        justify-content: left;
    }
    .spread{
        flex-direction: column;
    }
}

@media (max-width:770px) {
    .card-wrapper-2{
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .card-wrapper{
        flex-direction: column;
    }
}