<div class="home-container">
    <!-- <div class="whole-banner">
        <div class="banner">
            <app-banner></app-banner>
        </div>
        <app-banner-menu [svgColor]="svgColor"></app-banner-menu>
    </div> -->
    <app-new-banner></app-new-banner>
    <div class="banner-second">
        <app-banner-second></app-banner-second>
    </div>
    <div>
        <app-menu-card [heading]="'Free Kundali'" [sub]="'Know you kundali in free with accurate details'" [svg]="testsvg"></app-menu-card>
    </div>
    <app-zodiac-prediction [svgColor]="svgColor" [detailed]="false" [title]="zodiacPredictionTitle"></app-zodiac-prediction>
    <app-astrology-section [svgColor]="svgColor"></app-astrology-section>
    <div class="blog-section">
        <div class="blog-container">
            <app-blog-section [svgColor]="svgColor" [showView]="true" [title]="blogSectionHeading"></app-blog-section>
        </div>
    </div>
    <app-metric-section></app-metric-section>
    <app-why-astrology-section [svgColor]="svgColor" ></app-why-astrology-section>
</div>