<div class="home-container">
    <!-- <div class="whole-banner">
        <div class="banner">
            <app-banner></app-banner>
        </div>
        <app-banner-menu [svgColor]="svgColor"></app-banner-menu>
    </div> -->
    <app-new-banner></app-new-banner>
    <div class="banner-second">
        <app-banner-second></app-banner-second>
    </div>
    <div>
        <app-menu-card-container [svgColor]="svgColor"></app-menu-card-container>
    </div>
    <div>
        <app-rudraksh-section></app-rudraksh-section>
    </div>
    <!-- <app-zodiac-prediction [svgColor]="svgColor" [detailed]="false" [title]="zodiacPredictionTitle"></app-zodiac-prediction> -->
    <div class="blog-section">
        <div class="blog-container">
            <app-blog-section [svgColor]="svgColor" [title]="blogSectionHeading"></app-blog-section>
        </div>
    </div>
    <app-astrology-section [svgColor]="svgColor"></app-astrology-section>
    <div>
        <app-review-section></app-review-section>
    </div>
    <!-- <app-metric-section></app-metric-section>
    <app-why-astrology-section [svgColor]="svgColor" ></app-why-astrology-section> -->
</div>