<!-- <div class="menu-container"> -->
    <div class="menu">
        <div class="menu-items" (click)="goToPage('horoscope')">
            <img src="/images/horoscope.svg" alt="horoscope design image">
            <div class="menu-text">
                Horoscope
            </div>
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12.3333H19" [attr.stroke]="svgColor.tertiary" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5.33333L19 12.3333L12 19.3333" [attr.stroke]="svgColor.tertiary" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="menu-items">
            <img src="/images/palm.svg" alt="palm reading design image">
            <div class="menu-text">
                Free Reading
            </div>
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12.3333H19" [attr.stroke]="svgColor.tertiary" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5.33333L19 12.3333L12 19.3333" [attr.stroke]="svgColor.tertiary" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
                    </div>
        <div class="menu-items">
            <img src="/images/kalash.svg" alt="kalash design image">
            <div class="menu-text">
                Watch Live Puja
            </div>
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12.3333H19" [attr.stroke]="svgColor.tertiary" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5.33333L19 12.3333L12 19.3333" [attr.stroke]="svgColor.tertiary" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
<!-- </div> -->