<div class="information-section">
    <div class="column">
        <div class="header">
            <div class="img"><img [src]="svgs[0]"></div>
            <div class="header-name">{{headers[0]}}</div>
        </div>
        <div class="para">{{para[0]}}</div>
    </div>
    <div class="column">
        <div class="header">
            <div class="img"><img [src]="svgs[1]"></div>
            <div class="header-name">{{headers[1]}}</div>
        </div>
        <div class="para">{{para[1]}}</div>
    </div>
</div>