<div class="moonsign-page">

    <div class="page-dynamic-content">
        <div class="section-tag">
            <app-section-tag [sectionTitle]="dynamicSectionHeading" ></app-section-tag>
        </div>
        <div class="moon-sign-form" *ngIf="showForm">
            <app-moon-sign-form (formValueEmitter)="formSubmit($event)" ></app-moon-sign-form>
        </div>
        <div class="moon-sign-result" *ngIf="!showForm">
            <app-moon-sign-result [svgColor]="svgColor" [moonSign]="moonSign" [report]="moonSignReport" (newForm)="forNewForm()" (checkHoroscope)="forHoroscopr($event)" ></app-moon-sign-result>
        </div>
    </div>

    <app-zodiac-prediction [svgColor]="svgColor" [detailed]="true"  [title]="zodiacSectionTitle" ></app-zodiac-prediction>
    <div class="article-section">
        <div class="section-tag">
            <app-section-tag [sectionTitle]="articleSectionHeading" ></app-section-tag>
        </div>
        <div class="article">
            <app-article [article]="article"></app-article>
        </div>
    </div>
    <div class="blog-section">
        <div class="blog-container">
            <app-blog-section [svgColor]="svgColor" [title]="blogSectionHeading"></app-blog-section>
        </div>
    </div>
    
</div>