.heading{
    margin-top: 56px;
}

.section-tag{
    margin-bottom: 32px;
}

.table-conatiner{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px auto 56px auto;
}

.article-container{
    padding: 56px 0;
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
}

.article{
    max-width: 1100px;
    margin: 0 auto;
}

.blog{
    margin: 56px 0;
}