:root{
    
    --fourth-color:#fff;
    --secondary-bg-color: #F8F8F8;
    --heading: #000;
    --sub-title: #767676;
    --light-primary-color: #FFF0D1;
    --blog-author-color: #5E5E5E;
    --blog-brief-color: #767676;
    --zodiac-card-details: #6E6E6E;
    --warning: #ff0000;
    --vastushastra-option: #FBC56D;
    --horoscope-option-fill: #FFFAF1;
    --horoscope-option-border-selected: #FFEED0;
    --horoscope-option-box-shadow: rgba(255, 177, 20, 0.10);
    --numerology-num-option: #E39700;
    
    
    --primary-color: #FFB114;
    --secondary-color: #240028;
    --tertiary-color: #784007;
    --option-border: #E9E9E9;
    --primary-bg-color:#FFFCF6;
    --fore-dark-grey: #3b3b3b;
    --form-label: #956400;
    --form-border: #F2F2F2;
    --form-option: #FFCA6B;
    --placeholder: #757575;
    --horoscope-banner: #FFDD98;
    --light-bg-color: #FFF5E2;
    --form-field-bg: #F0F0F0;
    --horoscope-option-border: #FFE5B7;
    --love-calculator-form: #FF9292;
    --tarot-calculator-form: #A883F2;
    --numerology-form: #8ED2A2;
    --breadcrumb-color: #777777;
    --blur-primary-color: #FFB11466;
    --option-color: #91581E;
    --steps-background: #FFEECA;
    --feature-card-svg-bg: #FFFBF3;
    --compatibility-point: #AA8C5F;
    --compatibility-brief: #CCB99A;
    --store-tag-bg: #FB2B3A;
    --input-fore-color: #252525;


    --primary-font: 'Josefin Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;

}  