[data-theme="main-light"] {
    --primary-color: #ff1491;
    --secondary-color: #3B3B3B;
    --tertiary-color: #181818;
    --fourth-color:#fff;
    --primary-bg-color:#fff;
    --secondary-bg-color: #F8F8F8;
    --heading: #000;
    --sub-title: #767676;
    --light-primary-color: #FFF0D1;
    --blog-author-color: #5E5E5E;
    --blog-brief-color: #767676;
    --breadcrumb-color: #777777;
    --zodiac-card-details: #6E6E6E;
    --form-label:#956400;
    --form-option: #FFCA6B;
    --warning: #ff0000;
    --vastushastra-option: #FBC56D;
    --horoscope-option-border: #FFE5B7;
    --horoscope-option-fill: #FFFAF1;
    --horoscope-option-border-selected: #FFEED0;
    --horoscope-option-box-shadow: rgba(255, 177, 20, 0.10);
    --horoscope-banner: #FFDD98;
    --numerology-num-option: #E39700;
    

}    

[data-theme="main-dark"] {
    --primary-color: #FFB114;
    --secondary-color: #3B3B3B;
    --tertiary-color: #181818;
    --fourth-color:#fff;
    --heading: #000;
    --sub-title: #767676;
    --light-primary-color: #FFF0D1;
    --blog-author-color: #5E5E5E;
    --blog-brief-color: #767676;
    --secondary-bg-color: #F8F8F8;
}    