<div class="kundli-page">
    <div class="kundli-form-container">
        <div class="section-tag">
            <app-section-tag [sectionTitle]="kundliFormTitle" ></app-section-tag>
        </div>
        <div class="kundli-form">
            <app-kundli-form (normalSubmitEmitter)="onFormSubmit($event)" ></app-kundli-form>
        </div>
    </div>
    <div class="information-section">
        <app-information-section [headers]="headers" [para]="para" [svgs]="svgs"></app-information-section>
    </div>
    <div class="article-container">
        <div class="section-tag">
            <app-section-tag [sectionTitle]="articleSectionHeading" ></app-section-tag>
        </div>
        <div class="article">
            <app-article [article]="article" ></app-article>
        </div>
    </div>
    <div class="blog">
        <app-blog-section [svgColor]="svgColor" [title]="blogSectionHeading" ></app-blog-section>
    </div>
    
</div>