.container-wrapper{
    width: 100%;
    padding: 80px 0;
}
.banner-component{
    max-width: 1200px;
    padding: 32px 80px;
    background: url('/images/new-banner/new-banner-bg1.jpg') lightgray 50% / cover no-repeat ;
    border-radius: 7px;
    display: flex;
    color: #fff;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
    height: 428px;
}

.information-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
    min-width: 500px;
    height: 267px;
    font-family: var(--secondary-font);
}

.information{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title{
    font-size: 40px;
    font-weight: 600;
    font-family: var(--primary-font);
}

.sub{
    font-size: 16px;
    font-weight: 600;
}

.brief{
    font-size: 14px;
    font-weight: 400;
    max-width: 632px;
}

.form{
    display: flex;
    gap: 6px;
    font-size: 14px;
}

.input-filed{
    background: var(--form-field-bg);
    border-radius: 7px;
    color: #000;
    display: flex;
    align-items: center;
    color: var(--fore-dark-grey);
    font-size: inherit;
    font-weight: 400;
}

.country-code-container{
    padding: 12px 0 12px 12px;
    display: flex;
    margin-top: -2px;
    cursor: pointer;
}

.dropdown-svg div{
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.number-input{
    padding: 12px;
    padding-left: 4px;
    background: inherit;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: inherit;
    color: var(--input-fore-color);
}

.submit{
    padding: 12px;
    border-radius: 7px;
    color: #fff;
    background: var(--primary-color);
    font-size: inherit;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: var(--secondary-font);
}

::ng-deep .custom-code-menu{
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 100%;
    overflow-y: auto;
}

::ng-deep .custom-code-menu::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.code-container{
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 100%;
    overflow-y: auto;
}

.code-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.code{
    text-align: center;
    padding: 8px 4px;
    border-bottom: 1px solid #000 ;
    cursor: pointer;
}

.code:last-child{
    border: none;
}

.pipe{
    font-size: inherit;

}
.image-container {
    width: 364px;     
    height: 364px;
    overflow: hidden; 
}

.image {
    width: 100%;
    min-width: max-content;
    height: 100%;
    display: block;
    object-fit: contain;
}

@media (max-width: 1200px) {
    .banner-component{
        padding: 32px 0 32px 40px;
    }
}

@media (max-width: 840px) {
    .image-container{
        display: none;
    }
    .information-container{
        min-width: unset;
    }
    .banner-component{
        padding: 32px 40px;
    }
}

@media (max-width: 575px) {
    .banner-component{
        margin: auto;
        height: 300px;
        display: flex;
        align-items: center;
        padding: 32px 40px;
    }

    .title{
        font-size: 32px;
    }

    .brief{
        font-size: 10px;
    }
    .sub{
        font-size: 12px;
    }
    .information-container{
        justify-content: unset;
        gap: 40px;
        height: auto;
    }
    .form{
        font-size: 10px;
        flex-direction: column;
        max-width: 25   0px;
    }
}

@media (max-width: 375px) {
    .banner-component{
        padding: 20px;
        height: auto;
        overflow: unset;
        display: block;
    }
}