<div class="mantra-table">
    <div class="detail-table-container">
    <div class="heading">
        {{ heading }}
    </div>
    <div class="table">
        @for (row of groupedDetails; track $index) {
            <ng-container>
                <div class="row">
                    @for (detail of row; track $index) {
                        <div class="detail" (click)="goToMantra(detail.name)">
                            <div class="detail-name">{{ detail.name }}</div>
                        </div>
                    }
                    @if (row.length < columns) {
                        <ng-container>
                            @for (_ of [].constructor(columns - row.length); track $index) {
                                <div class="detail extra"></div>
                            }
                        </ng-container>
                    }
                </div>
            </ng-container>
        }
    </div>
    </div>
</div>