<div class="mantra-table">
    <div class="detail-table-container">
    <div class="heading">
        {{ heading }}
    </div>
    <div class="table">
        <ng-container *ngFor="let row of groupedDetails">
        <div class="row">
            <div class="detail" *ngFor="let detail of row" (click)="goToMantra(detail.name)">
                <div class="detail-name">{{ detail.name }}</div>
            </div>

            <ng-container *ngIf="row.length < columns">
                <div class="detail extra" *ngFor="let _ of [].constructor(columns - row.length)"></div>
            </ng-container>
        </div>
        </ng-container>
    </div>
    </div>
</div>