<div class="detail-table-container">
  <div class="heading">
    {{ getFormattedHeading() }}
  </div>
  <div class="table">
      @for (row of groupedDetails; track $index) {
        <ng-container>
        <div class="row">
          @for (detail of row; track $index) {
            <div class="detail">
              <div class="detail-name">{{ detail.name }}</div>
              <div class="detail-value">{{ detail.value }}</div>
            </div>
          }

          @if (row.length < columns) {
            @for (_ of [].constructor(columns - row.length); track _) {
              <div class="detail extra"></div>
            }
          }
        </div>
      </ng-container>
    }
  </div>
</div>