.detail-table-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--light-primary-color);
    font-weight: 400;
    font-size: 16px;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
}

.heading{
    color: var(--secondary-color);
    padding: 10px;
    font-size: 24px;
}

.table{
    display: flex;
    flex-direction: column;
    gap: 1px;
    color: var(--fore-dark-grey);
}

.row{
    background-color: var(--light-primary-color);
    display: flex;
    width: 100%;
    gap: 1px;
}
.detail{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.extra{
    background-color: var(--light-primary-color);
}

.detail-name{
    font-weight: 600;
}


@media (max-width:440px) {
    .row{
        flex-direction: column;
    }

    .extra{
        display: none;
    }
}