.blog-section-container{
    padding-top: 120px;
}
.section-title{
    margin-bottom: 32px;
}

.blog-container {
    /* margin: 32px 0; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    justify-self: center;
    gap: 24px;
}

.view-more-btn {
    justify-self: center;
    display: flex;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: min-content;
    text-wrap: nowrap;
    border-radius: 7px;
    margin-top: 32px;
}

@media (max-width:770px) {
    .blog-container{
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        justify-self: unset;
    }

    .blog-container::-webkit-scrollbar {
        display: none;
    }
}