.astrology-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 120px;
}

.astrology-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container-wrapper{
    display: flex;
    gap: 24px;
    width: 100%;
}

.card{
    width: 100%;
}

@media (max-width: 750px) {
    .astrology-card-container{
        padding: 10px;
        overflow-x: auto;
        flex-wrap: nowrap;-ms-overflow-style: none; 
        scrollbar-width: none;
    }

    .astrology-card-container::-webkit-scrollbar {
        display: none;
    }
}