.footer-container{
    padding: 80px;
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
}
.logo{
    display: flex;
    align-items: center;
}

.logo-svgs{
    display: flex;
    cursor: pointer;
    gap:8px;
    align-items: center;
}

.footer-information{
    max-height: max-content;
    display: flex;
}

.main-information {
    max-width: min-content;
    margin-right: 20px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo{
    display: flex;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.address{
    margin-top: 92px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
    color: var(--fourth-color);
}

.address-label{
    color: var(--primary-color);
}

.social-media{
    margin-top: 16px;
    color: var(--fourth-color);
}

.svg-links{
    margin-top: 12px;
}

.icon {
    margin-right: 11px;
}

.link-container{
    display: flex;
    margin: 0;
    justify-content: space-between;
    margin-left: auto;
}

.link-group {
    font-style: normal;
    line-height: normal;
    justify-self: right;
    margin-left: auto;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    /* justify-content: space-between; */
}

.last-link {
    margin-right: 0;
}

.link-group h3{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 3px;
}

.link {
    height: 16px;
    padding: 0;
    cursor: pointer;
    color: var(--fourth-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}


@media (max-width: 770px) {
    .footer-information{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 20px;
    }

    .footer-container{
        padding: 40px;
    }

    .link-container{
        margin: 0;
        flex-wrap: wrap;
    }
    
    .address{
        margin-top: 30px;
    }
    
    .link-group{
        margin: 0;
        margin-top: 40px;
    }
}