<div class="card-container" [ngClass]="{'pointer': !isOpen}" (click)="openCard()">
    <div class="question-container">
        <div class="ques">  
            {{card.ques}}
        </div>
        @if (isOpen) {
            <div (click)="closeCard($event)" class="svg-container pointer">
                <svg xmlns="http://www.w3.org/2000/svg" [attr.height]="mode == 'small'? '20' : '24' " viewBox="0 0 24 24" fill="none">
                    <path d="M5 12H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        } @else {
            <div class="svg-container">
                <svg xmlns="http://www.w3.org/2000/svg" [attr.height]="mode == 'small'? '20' : '24' " viewBox="0 0 24 24" fill="none">
                    <path d="M12 5V19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5 12H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        }
    </div>
    @if (isOpen) {
        <div class="answer-container">
            <hr class="rule">
            <div class="answer">{{card.ans}}</div>
        </div>
    }
</div>