.prediction-container-wraper{
    max-width: 1100px;
    width: 100%;
    padding: 24px;
    border-radius: 7px;
    margin: 0 auto;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--light-primary-color);
}

.title-container{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.svg-container{
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 7px;
}