<div class="planet-page-container">
    <div class="table-container">
        <div class="cloumn-container">
            <div class="header">Symbol</div>
            <div class="column">
                <div class="planet-img cell" *ngFor="let planet of positionOfPlanet; let i = index">
                    <img [src]="svgFile[i]" alt="planet imgae">
                </div>
            </div>
        </div>
        <div class="cloumn-container" *ngFor="let header of tableHeaders" >
            <div class="header">{{header.label}}</div>
            <div class="column">
                <div class="cell" *ngFor="let planet of positionOfPlanet" >
                    <ng-container *ngIf="planet[header.key]" >{{planet[header.key]}}</ng-container>
                    <ng-container *ngIf="!planet[header.key]" >-</ng-container>
                </div>
            </div>
        </div>
    </div>
</div>