.planet-page-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.table-container{
    display: flex;
    width: 100%;
    font-family: var(--secondary-font);
    color: var(--fore-dark-grey);
    font-size: 12px;
    font-weight: 400;
    text-wrap: nowrap;
    box-shadow: 0 20px 60px 0 rgba(157, 105, 0, 0.10);
    border-radius: 7px;
}

.cloumn-container{
    width: 100%;
    text-align: center;
}

.header{
    background-color: var(--light-primary-color);
    padding: 8px;
}

.first{
    border-top-left-radius: 7px;
}

.last{
    border-top-right-radius: 7px;
}
.firstc{
    border-bottom-left-radius: 7px;
}

.lastc{
    border-bottom-right-radius: 7px;
}

.column{
    background: #fff;
}

.cell{
    height: 60px;
    align-content: center;
    padding: 0 4px;
}


@media (max-width:990px) {
    .table-container{
        overflow-x: auto;
        flex-wrap: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .table-container::-webkit-scrollbar {
        display: none;
    }
}