.banner-container{
    display: flex;
    background: url('/images/new-banner/new-banner-bg1.jpg') lightgray 50% / cover no-repeat;
    max-width: 1200px;
    justify-content: space-between;
    margin: auto;
    border-radius: 7px;
    color: #fff;
}

.information{
    margin: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
}

.question{
    font-size: 64px;
    font-weight: 700;
    font-family: var(--primary-font);
}

.button{
    padding: 12px;
    color: var(--secondary-color);
    font-weight: 700;
    background: #fff;
    text-wrap: nowrap;
    cursor: pointer;
    max-width: min-content;
    border-radius: 7px;
    font-family: var(--secondary-font);
}

@media (max-width: 375px) {
    .sun-img{
        display: none;
    }
    .question{
        font-size: 32px;
    }
    .information{
        font-size: 9px;
        gap: 10px;
        margin: 30px;
    }
}

@media (min-width: 376px) and (max-width: 575px) {
    .sun-img{
        display: none;
    }
    .question{
        font-size: 48px;
    }
    .information{
        font-size: 12px;
        gap: 10px;
        margin: 35px;
    }
}

@media (max-width: 1200px) {
    .banner-container{
        margin: 0 24px;
    }
}