.sub-link{
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.click{
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 575px) {
    .sub-link{
        font-size: 10px;
    }
}