.menu-container{
    padding: 92px 0 0 0;
}
.section-tag{
    margin-bottom: 40px;
}
.card-section{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.card-wrapper{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.spread div{
    flex: 1;
}

.container-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    justify-content: end;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    color: var(--form-label);
}

input{
    padding: 12px;
    border: 1px solid var(--form-border);
    outline: none;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}
input::placeholder {
  color: var(--placeholder)
}

.row{
    display: flex;
    gap: 12px;
    flex: 1;
    width: 100%;
}
.row div{
    width: 100%;
}

.gender-buttons{
    display: flex;
    width: 100%;
    gap: 2px;
}

.gender{
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    color: var(--fore-dark-grey);
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}

.submit{
    cursor: pointer;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 7px;
    border: 1px solid var(--horoscope-banner);
    background-color: var(--primary-color);
    width: 100%;
}

.sub-link{
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}
.click{
    font-weight: 700;
    cursor: pointer;
}

.gender.selected{
    background: var(--form-option);
}

.zodiac-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.zodiac-prediction-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.zodiac-form{
    font-size: 12px;
    font-weight: 400;
    color: var(--form-label);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dropdown-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown{
    padding: 12px;
    cursor: pointer;
    border: 1px solid var(--form-border);
    color: var(--placeholder);
    display: flex;
    justify-content: space-between;
}

.dropdown-svg{
    display: flex;
    align-items: center;
}

.purple{
    color: #fff;
    background-color: var(--secondary-color);
}

.love-calculator-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.love-form{
    width: 100%;
}

.calculator-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.panchang-container{
    margin-bottom: 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    font-size: 14px;
    font-weight: 500;
    gap: 12px;
}

.panchang-segment{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.panchang-section{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;   
}

.panchang-row{
    display: flex;
    max-width: min-content;
    gap: 4px;
}

.panchang-name{
    font-weight: 600;
}

.tarot-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tarot-form-field{
    display: flex;
    flex-direction: column;
    gap: 12px;
}