.banner-container{
    width: 100%;
    padding: 56px 0;
    background: var(--primary-color);
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    color: var(--secondary-color);
    margin-bottom: 40px;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
}

.heading{
    font-weight: 700;
    font-size: 64px;
    
}

.question{
    color: #000;
    font-weight: 400;
}

.quote{
    color: #fff;
    font-weight: 700;
    display: flex;
    gap: 12px;
    padding: 12px;
    max-width: 410px;
    max-height: 80px;
    border-radius: 7px;
    background: url('/images/new-banner/new-banner-bg1.jpg') lightgray 50% / cover no-repeat;
}

.button-container{
    display: flex;
    gap: 12px;
    font-weight: 700;
    font-size: 14px;
}

.button{
    padding: 12px;
    cursor: pointer;
    border-radius: 7px;
    background: #FFF;
}