<div class="card-background" [ngStyle]="{'width': card.width, '--blur-color': card.blurColor}">
    <div class="card-container">
        <div class="header-container">
            <div class="svg-container" [innerHTML]="card.svg">
            </div>
            <div class="header">
                <div class="heading">{{card.heading}}</div>
                <div class="sub">{{card.sub}}</div>
            </div>
        </div>
        <div class="information">
            <div class="info-wrapper">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>