.zodiac-wrapper{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 112px;
}

.all-zodiac{
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px;
}

.svg-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-content: center;
    justify-items: center;
    margin: 0 auto;
    border: var(--horoscope-option-border);
    background-color: #FFF;
    cursor: pointer;
}


.open-zodiac-page-svg{
    border: 1px solid #FFF;
    background: var(--secondary-color);
    box-shadow: 0px 10px 30px 0px rgba(37, 0, 41, 0.1);
}



.baner-container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding-right: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.information{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 533px;
}

.information-name{
    font-family: var(--primary-font);
    font-size: 64px;
    font-weight: 700;
    color: var(--secondary-color);
}

.information-brief{
    font-size: 16px;
    font-weight: 400;
}

.banner-svg{
    background: radial-gradient(50% 50% at 50% 50%, #FFF0D1 51.92%, #FFF 100%);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.horoscope-wrapper, .horoscope-information, .horoscope-options{
    display: flex;
    gap: 24px;
    height: fit-content;
}

.horoscope-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -56px;
    padding-bottom: 80px;
}

.horoscope-information{
    background-color: #fff;
    border-radius: 7px;
    padding: 24px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 16px;
    font-size: 400;
    flex-direction: column;
}

.horoscope-name{
    font-family: var(--primary-font);
    font-size: 24px;
}

.horoscope-brief{
    font-size: 14px;
}

.horoscope-types-container{
    display: flex;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
}

.horoscope-type{
    width: 100%;
    flex: 1 1 170px;
    border-radius: 7px;
    background-color: var(--horoscope-banner);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
    max-width: 200px;
    max-height: min-content;
}

.horoscope-type-stars{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.horoscope-lucky{
    display: flex;
    gap: 16px;
    color: var(--fore-dark-grey);
    width: 100%;
}

.horoscope-lucky-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
}

.horoscope-lucky-name{
    font-weight: 600;
}

.horoscope-lucky-value{
    text-align: right;
}

.horoscope-options{
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.sign-buttons-container{
    display: flex;
    padding: 12px;
    border-radius: 9999px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.8px);
    -webkit-backdrop-filter: blur(15.8px);
    width: fit-content;
    margin: auto;
    font-size: 16px;
}

.sign-button{
    display: flex;
    padding: 12px;
    gap: 8px;
    font-weight: 500;
    align-items: center;
    text-wrap: nowrap;
    width: 156px;
    cursor: pointer;
    border-radius: 9999px;
}

.sign-buttons-svg{
    padding: 6px;
    display: flex;
    border-radius: 50%;
    background-color: #FFF;
    align-items: center;
}

.active-sign{
    background: var(--primary-color);
}

.day-option-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.day-option{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    border-radius: 7px;
}

.arrow-svg{
    display: flex;
    align-items: center;
}

.active-day{
    background: var(--secondary-color);
    color: #FFF;
}

.insight-section{
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.insight-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.insight-card{
  flex: 1 1 250px;
  min-width: 250px;
  background: #FFF;
  box-shadow: 0px 20px 60px 0px rgba(158, 105, 0, 0.05);
}

.menu-container{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-section{
    display: flex;
    gap: 24px;
    /* flex-wrap: wrap; */
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    align-items: stretch;
}

.card-section> div {
    flex: 1;
}

.card-wrapper{
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    flex: 1;
}
app-tarot-menu-card, app-numerology-menu-card{
    width: 100%;
}

.card-wrapper > div {
  flex: 1; /* ✅ each inner card grows equally */
  display: flex; /* ensures the inner card component stretches */
}

.special-click-link{
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
}

.link-svg{
    display: flex;
    align-content: center;
}

.link{
    cursor: pointer;
    font-weight: 700;
    padding-left: 6px;
}

@media (max-width: 1200px) {
    .zodiac-wrapper{
        padding: 0 24px 112px;
    }
    .section-container{
        padding: 0 24px;
    }
    .horoscope-wrapper{
        flex-direction: column;
    }
}
@media (max-width: 1000px) {
    .card-section{
        flex-wrap: wrap;
    }
    .card-section> div {
        min-width: 300px;
        flex: 1 1 270px;
    }
}
@media (max-width:900px) {
    .horoscope-types-container {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        gap: 12px;
        justify-content: center; 
    }
}
@media (max-width: 770px) {
    .horoscope-lucky{
        flex-direction: column;
    }
}
@media (max-width:575px) {
    .horoscope-information{
        padding: 20px;
    }
    .sign-buttons-container{
        font-size: 12px;
        padding: 10px;
    }
    .sign-button {
        padding: 10px;
        width: 125px;
    }
    .sign-buttons-svg{
        width: 24px;
        height: 24px;
    }
    .horoscope-types-container{
        display: flex;
        flex-direction: column;
    }
    .horoscope-name{
        font-size: 18px;
    }
    .horoscope-brief, .day-option{
        font-size: 10px;
    }
    .horoscope-type, .horoscope-lucky-info{
        font-size: 12px;
    }
    .star-svg{
        width: 20px;
        height: 20px;
    }
    .card-section> div {
        min-width: 270px;
        flex: 1 1 270px;
    }
}