<div class="kundli-form-container">
    <div class="form-container" [ngStyle]="{'--blur-color': blurColor}" [ngClass]="{'set-bg': submitBtnOption == 1}">
        <form [formGroup]="form">
            <div class="row">
                <div class="input-field">
                    <div class="label">Full Name</div>
                    <small *ngIf="f.name.invalid && submitted" class="red" >*Name is required.</small>
                    <div class="input-area">
                        <input class="input" formControlName="name" placeholder="Enter your Full Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <div class="label">Date of Birth</div>
                    <small *ngIf="f.DOB.errors?.['invalidDate'] && submitted && !f.DOB.errors?.['dateInFuture'] " class="red">*Date of Birth is Invalid.</small>
                    <small *ngIf="f.DOB.errors?.['dateInFuture'] && submitted" class="red">*Date of Birth cannot be in the future.</small>
                    <div class="input-area">
                        <input [type]="dobFocused ? 'date' : 'text'" (focus)="dobFocused = true" (blur)="dobFocused = false" class="input" formControlName="DOB" #datePicker placeholder="Enter Date of Birth">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" (click)="openDatePicker(datePicker)">
                            <path d="M11.0833 2.33334H2.91667C2.27233 2.33334 1.75 2.85568 1.75 3.50001V11.6667C1.75 12.311 2.27233 12.8333 2.91667 12.8333H11.0833C11.7277 12.8333 12.25 12.311 12.25 11.6667V3.50001C12.25 2.85568 11.7277 2.33334 11.0833 2.33334Z" stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.3335 1.16666V3.49999" stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.6665 1.16666V3.49999" stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1.75 5.83334H12.25" stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
                <div class="input-field">
                    <div class="label">Time of Birth</div>
                    <small *ngIf="f.time.invalid && submitted" class="red" >*Time is required.</small>
                    <div class="input-area" (click)="stopPropagation($event)">
                        <input class="input" [type]="tobFocused ? 'time' : 'text'" (focus)="tobFocused = true" (blur)="tobFocused = false" formControlName="time" #timePicker placeholder="Enter Time of Birth">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none" (click)="openTimePicker(timePicker)">
                            <path d="M7.49984 12.8333C10.7215 12.8333 13.3332 10.2217 13.3332 6.99999C13.3332 3.77833 10.7215 1.16666 7.49984 1.16666C4.27818 1.16666 1.6665 3.77833 1.6665 6.99999C1.6665 10.2217 4.27818 12.8333 7.49984 12.8333Z" stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.5 3.5V7L9.83333 8.16667" stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <div class="label">Location</div>
                    <small *ngIf="f.place.invalid && submitted" class="red" >*Location is required.</small>
                    <div class="input-area">
                        <input class="input" formControlName="place" placeholder="Enter Location of Birth">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                            <path d="M3.5 5.25L7 8.75L10.5 5.25" stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="gender-container" *ngIf="showGenderOption">
                <div class="gender-field">
                    <div class="gender">Gender</div>
                    <div class="gender-options">
                        <div class="male" [ngClass]="{'selected-gender': gender == 'm'}" (click)="changeGender('m')">
                            Male
                        </div>
                        <div class="female" [ngClass]="{'selected-gender': gender == 'f'}" (click)="changeGender('f')">
                            Female
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="submitBtnOption == 1">
                <div class="submit-container">
                    <div class="submit" (click)="onSubmit()">Get My Free Kundali</div>
                </div>
            </ng-container>
            <!-- <ng-container *ngIf="submitBtnOption == 2">
                <div class="submit-container">
                    <div class="submit" (click)="submitThroughParent()">Submit</div>
                </div>
            </ng-container> -->
        </form>
    </div>
</div>