.form-container{
    background-color: var(--light-primary-color);
    margin: 0 auto;
    padding: 24px;
    width: 640px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.row{
    display: flex;
    gap: 17px;
    margin-bottom: 16px;
}
.input-field{
    width: 100%;
}

.red{
    color: var(--warning);
}

.input-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 7px;
    height: 40px;
}

.input-area svg {
    margin-right: 12px;
}

.label{
    margin-bottom: 8px;
    color: var(--form-label);
}

.input{
    align-self: center;
    width: 100%;
    height: 34px;
    margin-left: 6px;
    padding: 12px 0 12px 6px;
    color: var(--blog-brief-color);
    border: none;
    outline: none;
}

.gender-container {
    display: flex;
}

.gender-field{
    width: 100%;
    margin-right: 8px;
}

.gender{
    margin-bottom: 8px;
    color: var(--form-label);
}

.gender-options{
    display: flex;
    gap: 2px;
    /* width: 100%; */
}

.male, .female {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    background: #fff;
    color: var(--secondary-color);
    cursor: pointer;
}

.male {
    border-radius: 7px 0 0 7px;
}

.female {
    border-radius: 0 7px 7px 0;
}

.selected-gender{
    background-color: var(--form-option);
}

.submit{
    cursor: pointer;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 7px;
    margin-top: 17px;
}

@media (max-width:440px) {
    .row{
        flex-direction: column;
    }

    .form-container{
        width: 100%;
    }

    .empty{
        display: none;
    }
}