.result-container{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    background-color: var(--light-primary-color);
}

.svg-container{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    align-content: center;
    justify-items: center;
    margin: 0 auto;
    -webkit-box-shadow: inset 0px 0px 100px -7px var(--primary-color);
    -moz-box-shadow: inset 0px 0px 100px -7px var(--primary-color);
    box-shadow: inset 0px 0px 100px -7px var(--primary-color);
}

.moon-sign-svg{
    max-width: min-content;
}

.moon-sign{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.report{
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
}

.btn-container{
    display: flex;
    gap: 17px;
    margin: 16px auto 0 auto;
}

.btn{
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    background: #fff;
}

.focus{
    background-color: var(--primary-color);
}