.today-prediction-section{
    margin: 56px 100px 0 100px;
}

.zodiac-prediction-container {
    margin-top: 32px;
    justify-self: center;
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;



    /* column-width: 180px;
    column-count: auto;
    column-gap: 16px;
    max-width: 100%;
    margin: 0;
    padding-top: 20px; */
}

.brief{
    width: 828px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--secondary-color);
    text-align: center;
    margin: 32px auto 0 auto;
}