.today-prediction-section{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 56px;
}

.zodiac-prediction-container {
    margin-top: 32px;
    justify-self: center;
    max-width: 1200px;
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;



    /* column-width: 180px;
    column-count: auto;
    column-gap: 16px;
    max-width: 100%;
    margin: 0;
    padding-top: 20px; */
}

.brief{
    width: 828px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--secondary-color);
    text-align: center;
    margin: 32px auto 0 auto;
}


@media (max-width:1100px) {
    .zodiac-prediction-container{
        max-width: 900px;
    }
}


@media (max-width: 576px) {
    .zodiac-prediction-container{
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        justify-self: unset;
        padding-left: 10px;
        /* gap: 12px;
        padding: 10px; */

        scrollbar-width: none;      
        -ms-overflow-style: none; 
    }
}