.today-prediction-section{
    max-width: 1300px;
    margin: 0 auto;
}

/* .zodiac-prediction-container {
    justify-self: center;
    max-width: 1200px;
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
} */

.zodiac-prediction-container {
  display: flex;
  gap: 32px; 
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.group {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
  gap: 24px;
}

.group > div {
    width: 100%;
    flex: 1;
  display: flex;
  justify-content: space-between;
}

@media (max-width:1100px) {
    .zodiac-prediction-container{
        gap: 24px;
    }
    .group{
        gap: 24px;
    }
}